# Use root/example as user/password credentials
version: '3.1'

services:
  db:
    image: mysql
    ports:
      - "3306:3306"
    # NOTE: use of "mysql_native_password" is not recommended: https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html#upgrade-caching-sha2-password
    # (this is just an example, not intended to be a production configuration)
    command: --default-authentication-plugin=mysql_native_password
#    command: --default-authentication-plugin=caching-sha2-password
    environment:
      MYSQL_ROOT_PASSWORD: pass
  backend:
    image: springio/backend
    ports:
      - "8080:8080"
    depends_on:
      - db

#  backend:
#    image: backend
#    ports:
#      - 8080:8080
#    environment:
#      MYSQL_ROOT_PASSWORD: pass
#      DB_URL: jdbc:mysql://localhost:3306

#  adminer:
#    image: adminer
#    restart: always
